extends layout

block content

  div
    div.form-group
      label(for="txt_search")
      input#txt_search.form-control(placeholder='BUSCAR POR SKU O DESCRIPCIÓN' type='text')
  
  div.row
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 REFACCIONES BAJAJ ORIGINALES
              div.h5.mb-0.font-weight-bold.text-gray-800 (548)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 REFACCIONES ECONOMY PARTS
              div.h5.mb-0.font-weight-bold.text-gray-800 (74)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-warning.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 ANTIRROBO CANDADOS
              div.h5.mb-0.font-weight-bold.text-gray-800 (8)
            div.col-auto
              i.fas.fa-exclamation-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 EMBLEMAS / STIKER
              div.h5.mb-0.font-weight-bold.text-gray-800 (74)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
  
  div.row
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 FIRE PARTS
              div.h5.mb-0.font-weight-bold.text-gray-800 (6)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-warning.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 LLANTAS Y RINES
              div.h5.mb-0.font-weight-bold.text-gray-800 (8)
            div.col-auto
              i.fas.fa-exclamation-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-danger.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 LUBRICANTES Y MANTENIMIENTO MOTOR
              div.h5.mb-0.font-weight-bold.text-gray-800 (7)
            div.col-auto
              i.fas.fa-plus-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 MANIJAS Y CHICOTES
              div.h5.mb-0.font-weight-bold.text-gray-800 (32)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300

  div.row
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 MAYORISTAS
              div.h5.mb-0.font-weight-bold.text-gray-800 (6)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 REFACCINOES Y AFINACIÓN
              div.h5.mb-0.font-weight-bold.text-gray-800 (4)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 REFACCIONES BALEROS
              div.h5.mb-0.font-weight-bold.text-gray-800 (4)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300
    div.col-xl-3.col-md-6.mb-4
      div.card.border-left-success.shadow.h-100.py-2
        div.card-body
          div.row.no-gutters.align-items-center
            div.col.mr-2
              div.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 REFACCIONES CARROCERÍA
              div.h5.mb-0.font-weight-bold.text-gray-800 (125)
            div.col-auto
              i.fas.fa-check-circle.fa-2x.text-gray-300