extends layout

block content

  div.col
    div.form-group
      label(for="txt_search")
      input#txt_search.form-control(placeholder='BUSCAR POR SKU O DESCRIPCIÓN' type='text')

  div.row
    div.col-xl-8.col-lg-7
      div.card.shadow.mb-4
        //Card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary Lista de productos agregados
        //Card body
        div.card-body
          div.table-responsive
              table#tblVenta.table.table-bordered(width="100%" cellspacing="0")
                thead
                  tr
                    th
                    th
                    th PRODUCTO
                    th PRECIO
                    th CANTIDAD
                    th TOTAL
    div.col-xl-4.col-lg-5
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary Datos de la venta
        div.card-body
          div.form-group
            label(for='txt_cte') Cliente
            input#txt_cte.form-control(placeholder='Nombre del cliente' type='text')
          div.form-group
            table(width='100%')
              tbody
                tr
                  td(align='right') SUBTOTAL
                  td(align='right') 0.00
                tr
                  td(align='right') I.V.A.
                  td(align='right') 0.00
                tr
                  td(align='right') TOTAL
                  td(align='right') 0.00
          div.form-group
            a.btn.btn-primary.btn-icon-split(href='#')
              span.icon.text-white-50
                i.fas.fa-arrow-right
              span.text Realizar Venta